@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

@theme {
  /* Main Font */
  --font-primary: "Lato", sans-serif;

  /* Main colors */
  --color-screen-primary: #121212;
  --color-screen-secondary: #1e1e1e;
  --color-primary: #e0e0e0;
  --color-secondary: #b0b0b0;
  /* Borders/Dividers */
  --color-primary-border: #444444;
  /* Accent colors */
  --color-accent: #888888;

  /* Font sizes */
  --text-size-sm: 0.75rem;
  --text-size-md: 0.875rem;
  --text-size-lg: 1rem;
  --text-size-xl: 1.125rem;
  --text-size-2xl: 1.25rem;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-screen-primary);
  color: var(--color-primary);
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
